<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ldapServer" value="" />
  <add key="ldapPort" value="" />
  <add key="ldapUser" value="" />
  <add key="ldapPassword" value="" />
  <add key="ldapBaseDn" value="" />
  <add key="ldapFilter" value="" />
  <add key="syncPhotos" value="" />
  <add key="kerioServer" value="" />
  <add key="kerioUser" value="" />
  <add key="kerioPassword" value="" />
  <add key="kerioFolderName" value="" />
</appSettings>